# Carpeta de dependencias de Node.js
node_modules/

# Carpeta de construcción
dist/

# Archivos de configuración sensibles
config.js
.env

# Archivos de caché
.cache/

# Archivos de compilación
*.css
*.js

# Archivos de entorno de desarrollo
.idea/
.vscode/
